#input-search-animal {
    display: block !important;
}

.search-patient-form>p+div {
    width: 400px;
}

.spin-input-group {
    position: relative;
}

.spin-input-group>.spinner-border {
    position: absolute;
    right: 20px;
    top: 13px;
    display: none;
}

/* afficher et cacher le formulaire du patient */
.spin-input-container {
    position: relative;
}

#animal-search-result {
    position: absolute;
    z-index: 2;
    width: 100%;
    background: white;
}

.patient-row-form-wrapper {
    display: none;
}

.show-patient-form .patient-row-form-wrapper {
    display: block;
}