#input-search-animal {
    display: block !important;
}

.search-patient-form>p+div {
    width: 400px;
}

.spin-input-group {
    position: relative;
}

.spin-input-group>.spinner-border {
    position: absolute;
    right: 20px;
    top: 13px;
    display: none;
}

/* afficher et cacher le formulaire du patient */
.spin-input-container {
    position: relative;
}

#animal-search-result {
    position: absolute;
    z-index: 2;
    width: 100%;
    background: white;
}

.patient-row-form-wrapper {
    display: none;
}

.show-patient-form .patient-row-form-wrapper {
    display: block;
}


.feed-widget {

    .feed-item {
        padding: 12px 0;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 30px;
        padding: 5px 15px 5px 10px;
        transition: ease-in-out .3s;

        .feed-icon {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            border-radius: 100%;
            color: #fff;

            i {
                line-height: 40px;
            }
        }

        &:hover {
            background: white;
            box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.12);
        }

    }

    .feed-link {
        display: flex;
        width: calc(100% - 50px);
        color: black;
        align-items: center;


        &:hover {
            text-decoration: none;
        }

        span.text-muted {
            font-size: 13px;

            i {
                margin-left: 15px;
            }
        }
    }

}

.patient-consultation-area {
    .card-title {
        font-weight: 800;
        color: black;

    }
}


.widget-patient-profile-card {
    p {
        margin-bottom: 0;
        font-size: 14px;
    }
}

// 

.patient-header {
    .profile-name {
        font-size: 20px;
    }

    .patient-img-container {
        img {
            border-radius: 0;
        }
    }

    .profile-info-row {
        padding-left: 30px;
    }

    dl {
        display: flex;
    }

    dd {
        padding-left: 5px;
        ;
    }

}


.tab_patient_prop_content {
    padding: 30px 20px;
}
